<footer id="colophon" class="site-footer site-footer-layout" role="contentinfo">
    <section id="text-3" class="widget widget_text">
        <h2 class="widget-title">Newsletter</h2>
        <div class="textwidget">Subscribe to our regular email updates.</div>
    </section>
    <section id="text-2" class="widget widget_text">
        <h2 class="widget-title">MapAction!</h2>
        <div class="textwidget">
            Hello World
            * point one
            * point two
        </div>
    </section>
    <section id="text-4" class="widget widget_text">
        <div class="textwidget">Legal and other things</div>
    </section>
{% block footer_debug %}
{% if g.debug %}
    <section>
    {% include 'snippets/debug.html' %}
    </section>
{% endif %}
{% endblock %}
</footer>
