{% block header_wrapper %}
{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">

              {% block header_account_logged %}
                {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal" aria-hidden="true"></i>
                    <span class="text">{{ _('Admin') }}</span>
                  </a>
                </li>
                {% endif %}
                <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
                </li>
                {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="icon-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Settings') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
                {% endblock %}
              {% endblock %}{# logged #}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {% block header_account_notlogged %}
              <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
              {% if h.check_access('user_create') %}
                <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
              {% endif %}
              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
    </div>
  </header>
{% endblock %}



<header>
    <!-- emergency-location bar -->
	{% set emergencies = h.current_emergencies() %} 
	<div class="site-emergencies site-emergencies-layout">
		{% if emergencies == None %}
		<span>Error loading emergencies menu</span>
		{% else %}
		<h1>
			<span class="current-emergency-icon">(!)</span>
			<span class="current-emergency-text">{{ emergencies.name|safe }}</span>
		</h1>
		<ul id="menu-current-emergencies" class="menu">
            {% for emergency in emergencies.get('items') %}
            <li id="menu-item-{{ emergency.id }}" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-{{ emergency.id}}">
                <a href="{{ emergency.url }}">{{ emergency.title|safe }}</a></li>
            {% endfor %}
		</ul>
		{% endif %}
	</div>
    <!-- /emergency-location bar -->
</header>


<header class="navbar navbar-static-top masthead">

  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="{{ g.header_class }} pull-left">

      {% block header_logo %}
        <a class="logo" href="{{ h.home_page_link() if h.home_page_link() else h.url('home') }}"><img src="/logo.svg" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
      {% endblock %}

    </hgroup>

    <nav id="site-navigation" class="main-navigation main-navigation-layout" role="navigation">
        <input type="checkbox" id="site-navigation-toggle" name="site-navigation-toggle">
        {% set menu = h.nav_menu() %} 
		{% if menu == None %}
		<span>Error loading main menu</span>
		{% else %}
        <ul id="primary-menu" class="menu">
            {% for item in menu.get('items') %}
            <li id="menu-item-{{ item.id }}" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                {% set children = item.get('children', []) %} 
                {% if children %}
                    {% for child in children %}
                <ul class="sub-menu">
                    <li id="menu-item-{{ child.id }}" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{{ child.url }}">{{ child.title }}</a>
                    </li>
                </ul>
                    {% endfor %}
                {% else %}
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
		{% endif %}
    </nav>
</header>

<header class="navbar masthead">
    <div class="nav-collapse collapse">
      {% block header_site_navigation %}
      {% endblock %}

      {% block header_site_search %}
      <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
        <div class="field">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('search all maps and data') }}" />
          <input type='hidden' name='sort' value='score desc, metadata_modified desc' />
          <button class="btn-search" type="submit"><i class="icon-search"></i></button>
        </div>
      </form>
      {% endblock %}

    </div>
  </div>
</header>
{% endblock %}
