{% ckan_extends %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  {% if h.show_organization() %}
    {{ super() }}
  {% else %}
    {% if pkg %}
      {% set dataset = pkg.title or pkg.name %}
      {% if c.pkg_dict.groups[0] %}
        {% set group = c.pkg_dict.groups[0] %}
        <li>{% link_for group.display_name|truncate(35), controller='group', action='read', id=group.name %}</li>
      {% else %}
        <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
      {% endif %}
      <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
    {% else %}
      <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
      <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
    {% endif %}
  {% endif %}    
{% endblock %}
