{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    <div class="page_primary_action">
      {% if h.check_access('package_create') %}
      {% snippet "mapactionschemas/snippets/add_package_typed.html" %}
      {% snippet 'mapactionimporter/snippets/import_button.html' %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, placeholder=_('search maps and data') %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'mapactionschemas/add_package_typed.js' %}
{% endblock scripts %}

{% block styles %}
    {{ super() }}
    {% resource 'mapactionschemas/add_package_typed.css' %}
{% endblock %}
