/* Layout of the page */
.site-layout {
	padding: 0 $gutter-size;
	max-width: $site-max-width;
	margin: auto;
	@media screen and (max-width: $two_column_min_width) {
		padding: 0 $gutter-size/2;
	}
}

/* Layout of the header (as a whole) */
.site-header-layout {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
