body {
    background-color: #676767;
}


.account-masthead, .masthead, .homepage, .site-footer, [role="main"] {
    max-width: 950px;
    margin: 0 auto;
}

.masthead { 
    background: #2f2776; 
    background-image: url("header-bg.png"); 
    background-repeat: no-repeat; 
}

.masthead .nav-collapse {
    padding-top: 32px;
}

.masthead .site-search input {
    width: 260px;
}

#catalog_title h1 {
    font-size: 20px;
    line-height: 1;
    margin-left: 25px;
}

.site-footer {
    background-color: #e3e4ec;
    color: #000000;
    min-height: 25px;
    height: 25px;
    padding: 0px;
    font-size: 80%;
}

.site-footer .span8 {
    width: 650px;
}

.site-footer .span4 {
    width: 200px;
    float: right;
}

.site-footer a {
    color: #000000;
}

.attribution {
    text-align: right;
}

.span6 {
    padding-left: 20px;
}

[role="main"] {
    background: #f0f0f0;
}

#home_dataset_list {
    margin-top: 30px;
}
