body {
    background-color: #676767;
}

.account-masthead, .masthead, .homepage {
    max-width: 950px;
    margin: 0 auto;
}

.masthead { 
    background: #2f2776; 
    background-image: url("header-bg.png"); 
    background-repeat: no-repeat; 
}


