{% ckan_extends %}

  {% block heading %}
    {% set thumbnail = h.thumbnail_url(package.id) %}
    {% if  thumbnail %}
      <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}">
        <img class="dataset-list-thumbnail" src="{{ thumbnail }}">
      </a>
    {% endif %}
    {{ super() }}
  {% endblock %}


  {% block resources_inner %}
    {% for resource in package.resources %}
      {% if resource.name != "thumbnail.png" %}
        <li>
          <a href="{{ resource.url }}" class="label" data-format="{{ resource.format|lower }}">{{ resource.format }}
              <i class="icon-download"></i>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endblock %}
